<!-- calendar.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='static/fullcalendar/dist/index.global.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
            selectable: true,
        });
        calendar.render();
      });
    </script>
    <title>Calendario</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://static.wixstatic.com/media/5e7e60_308ee65618ac48a6a2353201077841c3~mv2.png/v1/fill/w_145,h_173,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/GRANLOGO_3.png" alt="Logo">
        </div>
        <h5>Bienvenido(a), {{ username }}!</h5>
        <h1>Calendario de Eventos</h1>
        <!-- Aquí puedes mostrar los eventos del calendario -->
        <div id='calendar'></div>
        <ul>
            {% for event in events %}
            <li>{{ event.title }} - {{ event.date }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
