<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Banco de Contraseñas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://static.wixstatic.com/media/5e7e60_308ee65618ac48a6a2353201077841c3~mv2.png/v1/fill/w_145,h_173,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/GRANLOGO_3.png" alt="Logo">
        </div>
        <h5>Bienvenido(a), {{ username }}!</h5>
        <h1>Banco de Contraseñas</h1>
        <form action="/add_password" method="post">
            <label for="description">Descripción:</label>
            <input type="text" name="description" id="description" required><br>
            
            <label for="site">Sitio web:</label>
            <input type="text" name="site" id="site" required><br>

            <label for="username">Nombre de usuario:</label>
            <input type="text" name="username" id="username" required><br>

            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" required><br>

            <input class="button" type="submit" value="Guardar">
        </form>

        <h2>Buscar contraseñas:</h2>
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Ingrese su búsqueda...">
            <input class="button" type="submit" value="Buscar">
        </form>

        <h3>Resultados de búsqueda:</h3>
        <ul>
            {% for password in search_results %}
            <li>{{ password[1] }} ({{ password[2] }})</li>
            {% endfor %}
        </ul>

        <form action="/logout" method="post">
            <input class="button" type="submit" value="Cerrar sesión">
        </form>
    </div>
</body>
</html>
